!!! 5
%html
  %head
    %title SECOND KAZAN OIC
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/bootstrap/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/creative/creative.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/swiper/swiper.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"assets/styles/main.css" }

    %script{ src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
    %script{ src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" }

  %body
    %nav.navbar.navbar-fixed-top.top-navigation.top-navigation--main{ role: "navigation" }
      .container-fluid
        .menu-open{ onclick: "showMenu()" }
          .menu-open__hamburger
            %span.menu-open__hamburger__bar
            %span.menu-open__hamburger__bar
            %span.menu-open__hamburger__bar

          .menu-open__label
            МЕНЮ

        .lng-switch
          .dropdown
            %a.dropdown-toggle{ href: "#", data-toggle: "dropdown" }
              Русский
              %b.caret

            %ul.dropdown-menu
              %li
                %a{ href: "#" } Русский
              %li
                %a{ href: "#" } English


    %header.header-block#main
      .header-block__header
        III Казанский
        %br
        форум молодых
        %br
        предпринимателей
        %br
        стран ОИС

      .header-block__event
        .header-block__event__date
          15-20 Мая, 2017
        .header-block__event__location
          Казань, Татарстан, Россия

      .header-block__button
        .button.button--join УЧАСТВОВАТЬ

    %header.header-block#whocan{ style: "background: #fff" }
      who can

    %header.header-block#firstpart{ style: "background: #f0f" }
      first part

    %header.header-block#secondpart{ style: "background: #fff" }
      second part

    %header.select-participants-block#projectpick
      .select-participants-block__header
        Отбор участников
      .select-participants-block__descr
        Программа начинается с регистрации на площадке OIC Startup platform, где после технического отбора у проекта появляется ментор, который помогает предоставить стартап инвестору на онлайн платформе.
      .select-participants-block__steps
        .select-participants-block__step
          .select-participants-block__step__counter 1
          .select-participants-block__step__text Регистрация старт-ап проекта на платформе
        .select-participants-block__step
          .select-participants-block__step__counter 2
          .select-participants-block__step__text Прохождение технического отбора, взаимодействие с персональным ментором
        .select-participants-block__step
          .select-participants-block__step__counter 3
          .select-participants-block__step__text Отбор проектов экспертами, приглашение от инвесторов на форум

    %header.header-block#programm{ style: "background: #fff" }
      programm

    %header.header-block#partnership{ style: "background: #f41" }
      partnership

    %header.header-block#contactus{ style: "background: #ff1" }
      contactus

    .overlay-menu#overlaymenu
      .overlay-menu__closebtn{ onclick: "closeMenu()" }
      .overlay-menu__content
        %a.overlay-menu__content__link{ href: "#" } Главная
        %a.overlay-menu__content__link{ href: "#" } О нас
        %a.overlay-menu__content__link{ href: "#" } Проект
        %a.overlay-menu__content__link{ href: "#" } Тренеры
        %a.overlay-menu__content__link{ href: "#" } Инвесторы
        %a.overlay-menu__content__link{ href: "#" } Партнеры
        %a.overlay-menu__content__link{ href: "#" } Контакты


    %script{src: "/vendor/jquery/jquery.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "/vendor/swiper/swiper.min.js"}
    %script{src: "/assets/js/main.js"}

