!!! 5
%html
  %head
    %title SECOND KAZAN OIC
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport",content: "width=device-width, initial-scale=1" }
    %link{ rel: "stylesheet", type: "text/css", href:"./vendor/bootstrap/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"./vendor/creative/creative.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"./vendor/swiper/swiper.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"./assets/styles/main.css" }

    %link{ href: "https://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet" }

    %script{ src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
    %script{ src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" }

    %link{ rel: "icon", type: "image/png", href: "./assets/images/icons/favicon.png" }

  %body
    %nav.navbar.navbar-fixed-top.top-navigation.top-navigation--main{ role: "navigation" }
      .container-fluid
        .top-navigation__left-b.top-navigation__left-b--padd
          .menu-open
            .menu-open__hamburger
              %span.menu-open__hamburger__bar
              %span.menu-open__hamburger__bar
              %span.menu-open__hamburger__bar

            .menu-open__label{ data-i18n: "menulabel" }

        .top-navigation__right-b
          .button.button--header
            %a{ href: "http://www.oicstartup.org", data-i18n: "join" }
          .lng-switch
            .dropdown
              .dropdown-toggle.lng-switch__current{ href: "#", data-toggle: "dropdown" }
                %b.caret.lng-switch__caret

              %ul.dropdown-menu
                %li.lng-switch__lang{ data-lang: "ru" }
                  Русский
                %li.lng-switch__lang{ data-lang: "en" }
                  English

    .swiper-container.swiper-container-g
      .swiper-wrapper
        .swiper-slide
          %header.header-block#main
            .header-block__header{ data-i18n: "main.header" }

            .header-block__event
              .header-block__event__date{ data-i18n: "main.date" }
              .header-block__event__location{ data-i18n: "main.location" }

            .header-block__button
              .button.button--join
                %a{ href: "http://www.oicstartup.org", data-i18n: "join" }

        .swiper-slide
          %header.whocan-block#whocan
            .whocan-block__wrapper.gallery
              .whocan-block__video.gallery__image.gallery__image--video-cover
              .whocan-block__content
                .whocan-block__content__header{ data-i18n: "participate.header" }

                .swiper-container.whocan-block__content__slides
                  .swiper-wrapper
                    .swiper-slide{ data-i18n: "participate.slide1" }
                    .swiper-slide{ data-i18n: "participate.slide2" }
                    .swiper-slide{ data-i18n: "participate.slide3" }
                  .swiper-pagination
        .swiper-slide
          %header.select-participants-block#projectpick
            .select-participants-block__header{ data-i18n: "selection.header" }
            .select-participants-block__descr{ data-i18n: "selection.text" }
            .select-participants-block__steps
              .select-participants-block__step
                .select-participants-block__step__counter 1
                .select-participants-block__step__text{ data-i18n: "selection.list.first" }
              .select-participants-block__step
                .select-participants-block__step__counter 2
                .select-participants-block__step__text{ data-i18n: "selection.list.second" }
              .select-participants-block__step
                .select-participants-block__step__counter 3
                .select-participants-block__step__text{ data-i18n: "selection.list.third" }

        .swiper-slide
          %header.programm-block#program-p1
            .programm-block__wrapper
              .swiper-container.programm-block__photos.programm-block__photos-p1
                .swiper-wrapper.gallery
                  .swiper-slide.gallery__image--first
                  .swiper-slide.gallery__image--second
                  .swiper-slide.gallery__image--third
                .swiper-pagination
                .swiper-button-prev.gallery__prev-btn
                .swiper-button-next.gallery__next-btn
              .programm-block__content
                .programm-block__content__date{ data-i18n: "firststage.date" }
                .programm-block__content__part{ data-i18n: "firststage.stage" }
                .programm-block__content__header
                  OIC start up
                  %br
                  HUB platform
                .programm-block__content__descr{ data-i18n: "firststage.text" }

        .swiper-slide
          %header.programm-block#program-p2
            .programm-block__wrapper
              .swiper-container.programm-block__photos.programm-block__photos-p2
                .swiper-wrapper.gallery
                  .swiper-slide.gallery__image--first
                  .swiper-slide.gallery__image--second
                  .swiper-slide.gallery__image--third
                .swiper-pagination
                .swiper-button-prev.gallery__prev-btn
                .swiper-button-next.gallery__next-btn
              .programm-block__content
                .programm-block__content__date{ data-i18n: "secondstage.date" }
                .programm-block__content__part{ data-i18n: "secondstage.stage" }
                .programm-block__content__header
                  YOUTH
                  %br
                  ENTREPRENEURSHIP
                  %br
                  FORUM
                .programm-block__content__descr{ data-i18n: "secondstage.text" }

        .swiper-slide
          %header.implementation-block#implementation
            .implementation-block__wrapper
              .implementation-block__header{ data-i18n: "implementation.header" }
              .implementation-block__day
                .implementation-block__current-event{ data-i18n: "implementation.currentevent" }
                .implementation-block__day__title{ data-i18n: "implementation.event1.title" }
                .implementation-block__day__date{ data-i18n: "implementation.event1.date" }

              .implementation-block__day
                .implementation-block__day__title{ data-i18n: "implementation.event2.title" }
                .implementation-block__day__date{ data-i18n: "implementation.event2.date" }

              .implementation-block__day
                .implementation-block__day__title{ data-i18n: "implementation.event3.title" }
                .implementation-block__day__date{ data-i18n: "implementation.event3.date" }

              .implementation-block__day
                .implementation-block__day__title{ data-i18n: "implementation.event4.title" }
                .implementation-block__day__date{ data-i18n: "implementation.event4.date" }

              .implementation-block__day
                .implementation-block__day__title{ data-i18n: "implementation.event5.title" }
                .implementation-block__day__date{ data-i18n: "implementation.event5.date" }

              .implementation-block__day
                .implementation-block__day__title{ data-i18n: "implementation.event6.title" }
                .implementation-block__day__date{ data-i18n: "implementation.event6.date" }
                %a.implementation-block__download{ href: "#", data-i18n: "implementation.download" }

        .swiper-slide
          %header.trainers-block
            .trainers-block__wrapper
              .trainers-block__header{ data-i18n: "trainers.header" }
              .trainers-block__persons
                .trainers-block__person.trainers-block__person--red
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--green
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--red
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--green
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--green
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--red
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--green
                  .trainers-block__person__bio 1111
                .trainers-block__person.trainers-block__person--red
                  .trainers-block__person__bio 1111

        .swiper-slide
          %header.investors-block
            .investors-block__wrapper
              .investors-block__header{ data-i18n: "investors.header" }
              .investors-block__persons
                .investors-block__person.investors-block__person--red
                  .investors-block__person__bio 1111
                .investors-block__person.trainers-block__person--green
                  .investors-block__person__bio 1111
                .investors-block__person.investors-block__person--red
                  .investors-block__person__bio 1111
                .investors-block__person.trainers-block__person--green
                  .investors-block__person__bio 1111
                .investors-block__person.trainers-block__person--green
                  .investors-block__person__bio 1111
                .investors-block__person.investors-block__person--red
                  .investors-block__person__bio 1111
                .investors-block__person.trainers-block__person--green
                  .investors-block__person__bio 1111
                .investors-block__person.investors-block__person--red
                  .investors-block__person__bio 1111



      .swiper-button-next.swiper-button-next-g.swiper-button-next-g--main
      .swiper-button-prev.swiper-button-prev-g

    .overlay-menu#overlaymenu
      .overlay-menu__closebtn
      .overlay-menu__content
        %a.overlay-menu__content__link#home{ href: "#",    data-i18n: "menu.home" } Главная
        %a.overlay-menu__content__link#aboutus{ href: "#", data-i18n: "menu.about" } О нас
        %a.overlay-menu__content__link#project{ href: "#", data-i18n: "menu.project" } Проект
        %a.overlay-menu__content__link#trainers{ href: "#", data-i18n: "menu.trainers" } Тренеры
        %a.overlay-menu__content__link#investors{ href: "#", data-i18n: "menu.investors" } Инвесторы
        -#%a.overlay-menu__content__link#partnership{ href: "#", data-i18n: "menu.paartnership" } Партнеры
        -#%a.overlay-menu__content__link#contacts{ href: "#", data-i18n: "menu.contacts" } Контакты


    %script{src: "./vendor/jquery/jquery.min.js"}
    %script{src: "./vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "./vendor/swiper/swiper.min.js"}
    %script{src: "./vendor/i18next/i18next.js"}
    %script{src: "./assets/js/main.js"}
