!!! 5
%html
  %head
    %title SECOND KAZAN OIC
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/bootstrap/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/creative/creative.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"assets/styles/main.css" }

    %script{ src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
    %script{ src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" }

  %body
    %nav.navbar.navbar-fixed-top.top-navigation{ role: "navigation" }
      .container-fluid
        .menu-open
          .menu-open__hamburger
            %span.menu-open__hamburger__bar
            %span.menu-open__hamburger__bar
            %span.menu-open__hamburger__bar

          .menu-open__label
            меню

        .lng-switch
          .dropdown
            %a.dropdown-toggle{ href: "#", data-toggle: "dropdown" }
              Русский
              %b.caret

            %ul.dropdown-menu
              %li
                %a{ href: "#" } Русский
              %li
                %a{ href: "#" } English


    %header
      111


    %script{src: "/vendor/jquery/jquery.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
