!!! 5
%html
  %head
    %title SECOND KAZAN OIC
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/bootstrap/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"vendor/creative/creative.css" }
    %link{ rel: "stylesheet", type: "text/css", href:"assets/styles/main.css" }

    %script{ src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
    %script{ src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" }

  %body
    %nav.navbar.navbar-fixed-top.top-navigation.top-navigation--main{ role: "navigation" }
      .container-fluid
        .menu-open
          .menu-open__hamburger
            %span.menu-open__hamburger__bar
            %span.menu-open__hamburger__bar
            %span.menu-open__hamburger__bar

          .menu-open__label
            МЕНЮ

        .lng-switch
          .dropdown
            %a.dropdown-toggle{ href: "#", data-toggle: "dropdown" }
              Русский
              %b.caret

            %ul.dropdown-menu
              %li
                %a{ href: "#" } Русский
              %li
                %a{ href: "#" } English


    %header.header-block#main
      .header-block__header
        III Казанский
        %br
        форум молодых
        %br
        предпринимателей
        %br
        стран ОИС

      .header-block__event
        .header-block__event__date
          15-20 Мая, 2017
        .header-block__event__location
          Казань, Татарстан, Россия

      .header-block__button
        .button.button--join УЧАСТВОВАТЬ

    %header.header-block#whocan{ style: "background: #fff" }
      who can

    %header.header-block#firstpart{ style: "background: #f0f" }
      first part

    %header.header-block#secondpart{ style: "background: #fff" }
      second part

    %header.header-block#projectpick{ style: "background: #0ff" }
      project pick

    %header.header-block#programm{ style: "background: #fff" }
      programm

    %header.header-block#partnership{ style: "background: #f41" }
      partnership

    %header.header-block#contactus{ style: "background: #ff1" }
      contactus


    %script{src: "/vendor/jquery/jquery.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
