.button
  display: inline-block
  border-radius(3px)
  background: $orange-yellow
  color: $white
  font-size: 18px
  line-height: 25px
  font-family: 'Roboto'
  font-weight: bold

  &--join
    padding:17px 43px

  &--header
    padding: 13px 20px
    line-height: normal

  &--shedule
    padding-top: 8px 12px
    fon-size: 14px
    line-height: 15px
    letter-spacing: 0.5px

  & a
    color: $white
    text-decoration: none
