.contactus-block
  padding: 130px 30px 30px 30px

  &__wrapper
    position: relative
    left: 50%;
    max-width: 1140px;
    transform: translateX(-50%);

  &__header
    color: $black
    font-size: 64px
    line-height: 86px
    font-family: 'Roboto'
    font-weight: bold
    text-align: center

  &__row
    margin-top: 40px
    position: relative

  &__col
    width: 272px

    &--contacts
      float: left
      margin-right: 50px

      & b,
      & a
        display: block
        color: $black
        font-size: 14px
        line-height: 15px

      & b
        margin-bottom: 10px

      & a
        margin-bottom: 20px
        padding-left: 30px
        height: 24px
        line-height: 24px
        text-decoration: none

    &__mails
      & a
        background: url('../images/icons/mail-icon.svg') no-repeat 0 center

    &__map
      & a
        padding-left: 20px
        background: url('../images/icons/map-icon.svg') no-repeat 0 center

    &--social
      float: right
      margin-left: 50px
      height: 100%

      & a
        display: inline-block
        margin-right: 10px
        height: 20px

      & b
        display: block
        color: $black
        font-size: 14px
        line-height: 15px

      & #fb
        width: 20px
        background: url('../images/icons/fb.svg') no-repeat center center

      & #vk
        width: 20px
        background: url('../images/icons/vk.svg') no-repeat center center

      & #tw
        width: 25px
        background: url('../images/icons/tw.svg') no-repeat center center

    &--form
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 496px

      & input[type="text"],
      & input[type="email"],
      & button
        margin-bottom: 20px

      & input[type="text"],
      & input[type="email"],
      & textarea,
      & button
        display: inline-block
        width: 496px
        background: $white-two
        color: $black
        border: 0
        outline: 0
        font-family: 'Roboto'
        font-weight: bold
        height: 60px
        font-size: 14px

        +placeholder()
          color: $purpley-grey
          font-family: 'Roboto'
          font-weight: bold
          text-transform: uppercase

      & input[type="text"],
      & input[type="email"]
        padding: 22px 15px
        line-height: 15px

      & textarea
        padding: 24px 15px
        height: 213px
        line-height: 15px

      & button
        height: 60px
        background: $orange-yellow
        color: $ochre
        line-height: 60px
        text-align: center
        letter-spacing: 1px
        border-radius(3px)

      & label
        display: inline-block
        margin-left: 10px
        margin-bottom: 10px
        color: $black
        font-size: 14px
        line-height: 15px


  &__summit
    position: absolute
    left: 0
    bottom: 0
    display: inline-block
    width: 127px
    height: 130px
    background-image: url('../images/icons/summit.png')
    background-position: 0
    background-repeat: no-repeat
    transition: none

    &:hover
      background-position: -127px

