@font-face
  font-family: "HelveticaBold"
  src: url('../fonts/Helvetica-Bold.otf') format('opentype'),
       url('../fonts/Helvetica-Bold.ttf') format('truetype');

@font-face
  font-family: "Helvetica Bold"
  src: url('../fonts/HelveticaBold.ttf') format('truetype');
