.gallery
  &__image
    background-position: center center
    background-size: cover

    &--first
      background-image: url('../images/photos/1.png')
    &--second
      background-image: url('../images/photos/2.png')
    &--third
      background-image: url('../images/photos/3.png')

    &--video-cover
      background-image: url('../images/photos/5.png')

  &__prev-btn,
  &__next-btn
    width: 87px
    height: 41px

  &__prev-btn
    background-image: url('../images/icons/arrow-prev.svg')

  &__next-btn
    background-image: url('../images/icons/arrow-next.svg')
