.gallery
  &__image
    background-position: center center
    background-size: cover

    &--first
      background-image: url('../images/photos/programms/1.png')
    &--second
      background-image: url('../images/photos/programms/2.png')
    &--third
      background-image: url('../images/photos/programms/3.png')

    &--fourth
      background-image: url('../images/photos/programms/4.png')
    &--fifth
      background-image: url('../images/photos/programms/5.png')
    &--sixth
      background-image: url('../images/photos/programms/6.png')


    &--empty
      background: $white

    &--video-cover
      background-image: url('../images/photos/5.png')

  &__prev-btn,
  &__next-btn
    width: 87px
    height: 41px

  &__prev-btn
    background-image: url('../images/icons/arrow-prev.svg')

  &__next-btn
    background-image: url('../images/icons/arrow-next.svg')
