.header-block
  padding: 154px 0 40px 110px
  min-height: 100%
  background-image: url('/assets/images/cover.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  color: $black

  &__header
    position: relative
    color: $white
    font-size: 64px
    line-height: 86px
    font-family: "Helvetica Bold"

  &__event
    &__date,
    &__location
      color: $white
      font-family: "Helvetica Bold"
      font-size: 18px
      line-height: 25px

    &__location
      margin-top: 2px

  &__button
    margin-top: 35px
