.header-block
  padding: 154px 0 40px 110px
  min-height: 100%
  background: linear-gradient(rgba(10,10,10,.4),rgba(10,10,10,.4)), url('../images/photos/cover.jpg') no-repeat center center
  background-size: cover
  color: $black

  &__header
    position: relative
    color: $white
    font-size: 64px
    line-height: 86px
    font-family: 'Roboto'
    font-weight: bold

  &__event
    &__date,
    &__location
      color: $white
      font-family: 'Roboto'
      font-weight: bold
      font-size: 18px
      line-height: 25px

    &__location
      margin-top: 2px

  &__button
    margin-top: 35px
