// nib extension
@import "nib";

// core files
@import "vars"
@import "fonts"

// core
@import "core"

// overide
@import "override"

// components
@import "top-navigation"
@import "menu-open"
@import "lng-switch"
@import "header_block"
@import "buttons"
@import "overlay-menu"
@import "select-participants-block"
@import "whocan"
@import "programm-block"
@import "gallery"
@import "implementation-block"
@import "trainers_investors"
