.menu-open
  display: inline-block
  cursor: pointer
  clearfix()

  &__hamburger
    float: left
    width: 30px

    &__bar
      display: block
      margin-bottom: 4px
      height: 5px
      background: $black

  &__label
    float: left
    margin-left: 10px
    font-size: 18px
    font-family: "Helvetica Bold"
    letter-spacing: 1px
    text-transform: uppercase
