header
  text-align: left

.swiper-pagination-bullet
  width: 10px
  height: 10px
  background: $white
  opacity: 1

.swiper-pagination-bullet-active
  background: $orange-yellow


.swiper-pagination-bullet-numeric
  width: 30px
  height: 30px
  background: transparent
  color: $black
  text-align: center
  line-height: @height
  font-size: 18px

.swiper-pagination-bullet-numeric.swiper-pagination-bullet-active
  background: $black
  color: $white



.swiper-button-next,
.swiper-button-prev
  top: auto
  bottom: 0
  background-size: 87px 41px

.swiper-button-next
  right: 0

.swiper-button-prev
  left: 0

.swiper-container
  height: 100%
  width: 100%

.swiper-button-prev-g
  display: none

.swiper-button-next-g
  bottom: -25px
  left: 50%
  transform: translateX(-50%)
  width: 50px
  height: 50px
  border-radius(25px)
  background: $black url('../images/icons/next-slide-white.svg') center 15px no-repeat
  background-size: auto

  &--main
    background: $white url('../images/icons/next-slide-black.svg') center 15px no-repeat