.select-participants-block
  padding-top: 130px
  background: none

  &__header
    color: $black
    font-size: 64px
    line-height: 86px
    font-family: 'Roboto'
    font-weight: bold

  &__descr
    margin-top: 20px
    width: 720px
    color: $greyish-brown
    font-size: 24px
    line-height: 27px

  &__steps
    margin-top: 5px
    width: 418px

  &__step
    position: relative
    margin-top: 30px
    clearfix()

    &__counter
      position: absolute
      top: 50%
      transform: translateY(-50%)
      float: left
      width: 60px
      height: 60px
      background: $black
      border-radius(30px)
      text-align: center
      font-size: 36px
      line-height: 60px
      font-family: 'Roboto'
      font-weight: bold

    &__text
      float: left
      width: 338px
      margin-left: 80px
      font-family: 'Roboto'
      font-size: 24px
      line-height: 27px
      color: $greyish-brown

  &__descr,
  &__header
    text-align: center

  &__header,
  &__descr,
  &__steps
    position: relative
    left: 50%
    transform: translateX(-50%)

@media (max-height: 670px)
  .select-participants-block
    padding-top: 90px

    &__step
      margin-top: 25px
