.top-navigation
  padding: 28px 30px
  height: 80px
  background: $white

  box-shadow: 0 2px 4px 0

  &--main
    box-shadow: none
    background: transparent

  &--main .menu-open__hamburger__bar
    background: $white

  &--main .menu-open__label
    color: $white

