$black = #030303
$white = #fff
$orange-yellow = #ffa900
$greyish-brown = #4a4a4a
$yellow-orange = #ffba00
$purpley-grey = #8f8e94
$white-two = #f5f5f5
$ochre = #cd8800

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
