.whocan-block
  padding: 80px 30px 30px 30px

  &__wrapper
    position: relative
    left: 50%
    width: 1140px
    transform: translateX(-50%)
    background: white

    clearfix()

  &__video
    height: 690px
    width: 535px
    float: left

  &__content
    padding-left: 30px
    margin-top: 25px
    height: 660px
    width: 600px
    float: left

    &__header
      margin-top: 35px
      color: $black
      font-size: 64px
      line-height: 86px
      font-family: 'Roboto'
      font-weight: bold

    &__slides
      height: 300px

      & .swiper-slide
        width: 435px
        color: $black
        font-size: 36px
        line-height: 49px

      & .swiper-pagination
        top: 0
        transform: none
