@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica-Bold.otf") format('opentype'), url("../fonts/Helvetica-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/HelveticaBold.ttf") format('truetype');
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  text-align: left;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.swiper-pagination-bullet-active {
  background: #ffa900;
}
.swiper-pagination-bullet-numeric {
  width: 30px;
  height: 30px;
  background: transparent;
  color: #030303;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.swiper-pagination-bullet-numeric.swiper-pagination-bullet-active {
  background: #030303;
  color: #fff;
}
.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 0;
  -webkit-background-size: 87px 41px;
  -moz-background-size: 87px 41px;
  background-size: 87px 41px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-container {
  height: 100%;
  width: 100%;
}
.swiper-button-prev-g {
  display: none;
}
.swiper-button-next-g {
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #030303 url("../images/icons/next-slide-white.svg") center 15px no-repeat;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
}
.swiper-button-next-g--main {
  background: #fff url("../images/icons/next-slide-black.svg") center 15px no-repeat;
}
.top-navigation {
  padding: 16px 30px;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(10,10,10,0.2);
  box-shadow: 0 2px 4px 0 rgba(10,10,10,0.2);
}
.top-navigation__left-b {
  float: left;
}
.top-navigation__left-b--padd {
  padding: 14px 0;
}
.top-navigation__right-b {
  float: right;
}
.top-navigation--main {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.top-navigation--main .menu-open__hamburger__bar {
  background: #fff;
}
.top-navigation--main .menu-open__label {
  color: #fff;
}
.top-navigation--main .lng-switch {
  display: block;
}
.top-navigation--main .button--header {
  display: none;
}
.menu-open {
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.menu-open:before,
.menu-open:after {
  content: "";
  display: table;
}
.menu-open:after {
  clear: both;
}
.menu-open__hamburger {
  float: left;
  width: 30px;
}
.menu-open__hamburger__bar {
  display: block;
  margin-bottom: 4px;
  height: 5px;
  background: #030303;
}
.menu-open__label {
  float: left;
  margin-left: 10px;
  color: #030303;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.lng-switch {
  display: none;
  float: right;
  width: 80px;
  height: 25px;
}
.lng-switch__caret {
  margin-left: 12px;
  border-top: 7px dashed #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-bottom: 10px;
}
.lng-switch__current {
  width: 50px;
  height: 25px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/flags.png");
  -webkit-background-size: 100px 25px;
  -moz-background-size: 100px 25px;
  background-size: 100px 25px;
}
.lng-switch__current--ru {
  background-position: -50px;
}
.lng-switch__current--en {
  background-position: 0;
}
.lng-switch__lang {
  margin-top: 2px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
}
.lng-switch__lang + .lng-switch__lang {
  border-top: 1px solid #808080;
}
.lng-switch .dropdown-menu {
  width: 50px;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-block {
  padding: 154px 0 40px 110px;
  min-height: 100%;
  background: -webkit-linear-gradient(rgba(10,10,10,0.4), rgba(10,10,10,0.4)), url("../images/photos/cover.jpg") no-repeat center center;
  background: -moz-linear-gradient(rgba(10,10,10,0.4), rgba(10,10,10,0.4)), url("../images/photos/cover.jpg") no-repeat center center;
  background: -o-linear-gradient(rgba(10,10,10,0.4), rgba(10,10,10,0.4)), url("../images/photos/cover.jpg") no-repeat center center;
  background: -ms-linear-gradient(rgba(10,10,10,0.4), rgba(10,10,10,0.4)), url("../images/photos/cover.jpg") no-repeat center center;
  background: linear-gradient(rgba(10,10,10,0.4), rgba(10,10,10,0.4)), url("../images/photos/cover.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #030303;
}
.header-block__header {
  position: relative;
  color: #fff;
  font-size: 64px;
  line-height: 86px;
  font-family: 'Roboto';
  font-weight: bold;
  white-space: pre;
}
.header-block__event__date,
.header-block__event__location {
  color: #fff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.header-block__event__location {
  margin-top: 2px;
}
.header-block__button {
  margin-top: 35px;
}
.button {
  display: inline-block;
  border-radius: 3px;
  background: #ffa900;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Roboto';
  font-weight: bold;
}
.button--join {
  padding: 17px 43px;
}
.button--header {
  padding: 13px 20px;
  line-height: normal;
}
.button--shedule {
  padding-top: 8px 12px;
  fon-size: 14px;
  line-height: 15px;
  letter-spacing: 0.5px;
}
.button a {
  color: #fff;
  text-decoration: none;
}
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  z-index: 1050;
}
.overlay-menu__closebtn {
  position: relative;
  left: 50%;
  margin-top: 40px;
  width: 50px;
  height: 50px;
  background: url("../images/icons/close-cross.svg") no-repeat;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.overlay-menu__content {
  position: relative;
  left: 50%;
  margin-top: 10px;
  width: 350px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.overlay-menu__content__link {
  display: block;
  margin-top: 30px;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #030303;
}
.overlay-menu__content__link:hover {
  color: #ffa900;
  text-decoration: none;
}
.overlay-menu__content__link:active {
  text-decoration: none;
}
.select-participants-block {
  padding-top: 130px;
  background: none;
}
.select-participants-block__header {
  color: #030303;
  font-size: 64px;
  line-height: 86px;
  font-family: 'Roboto';
  font-weight: bold;
}
.select-participants-block__descr {
  margin-top: 20px;
  width: 720px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 27px;
}
.select-participants-block__steps {
  margin-top: 5px;
  width: 418px;
}
.select-participants-block__step {
  position: relative;
  margin-top: 30px;
  zoom: 1;
}
.select-participants-block__step:before,
.select-participants-block__step:after {
  content: "";
  display: table;
}
.select-participants-block__step:after {
  clear: both;
}
.select-participants-block__step__counter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
  width: 60px;
  height: 60px;
  background: #030303;
  border-radius: 30px;
  text-align: center;
  font-size: 36px;
  line-height: 60px;
  font-family: 'Roboto';
  font-weight: bold;
}
.select-participants-block__step__text {
  float: left;
  width: 338px;
  margin-left: 80px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 27px;
  color: #4a4a4a;
}
.select-participants-block__descr,
.select-participants-block__header {
  text-align: center;
}
.select-participants-block__header,
.select-participants-block__descr,
.select-participants-block__steps {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.whocan-block {
  padding: 80px 30px 30px 30px;
}
.whocan-block__wrapper {
  position: relative;
  left: 50%;
  width: 1140px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  zoom: 1;
}
.whocan-block__wrapper:before,
.whocan-block__wrapper:after {
  content: "";
  display: table;
}
.whocan-block__wrapper:after {
  clear: both;
}
.whocan-block__video {
  height: 690px;
  width: 535px;
  float: left;
}
.whocan-block__content {
  padding-left: 30px;
  margin-top: 25px;
  height: 660px;
  width: 600px;
  float: left;
}
.whocan-block__content__header {
  margin-top: 35px;
  color: #030303;
  font-size: 64px;
  line-height: 86px;
  font-family: 'Roboto';
  font-weight: bold;
}
.whocan-block__content__slides {
  height: 300px;
}
.whocan-block__content__slides .swiper-slide {
  width: 435px;
  color: #030303;
  font-size: 36px;
  line-height: 49px;
}
.whocan-block__content__slides .swiper-pagination {
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.programm-block {
  padding: 80px 30px 30px 30px;
  color: #030303;
  font-family: 'Roboto';
  font-weight: bold;
}
.programm-block__wrapper {
  position: relative;
  left: 50%;
  width: 1140px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  zoom: 1;
}
.programm-block__wrapper:before,
.programm-block__wrapper:after {
  content: "";
  display: table;
}
.programm-block__wrapper:after {
  clear: both;
}
.programm-block__photos {
  height: 690px;
  width: 535px;
  float: left;
}
.programm-block__content {
  width: 600px;
  padding-left: 30px;
  float: left;
}
.programm-block__content__date {
  font-size: 36px;
  line-height: 49px;
}
.programm-block__content__part {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  border-bottom: 10px solid #030303;
}
.programm-block__content__header {
  margin-top: 25px;
  font-size: 48px;
  line-height: 64px;
}
.programm-block__content__descr {
  margin-top: 15px;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Roboto';
  white-space: pre-line;
}
.gallery__image {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.gallery__image--first {
  background-image: url("../images/photos/programms/1.png");
}
.gallery__image--second {
  background-image: url("../images/photos/programms/2.png");
}
.gallery__image--third {
  background-image: url("../images/photos/programms/3.png");
}
.gallery__image--video-cover {
  background-image: url("../images/photos/5.png");
}
.gallery__prev-btn,
.gallery__next-btn {
  width: 87px;
  height: 41px;
}
.gallery__prev-btn {
  background-image: url("../images/icons/arrow-prev.svg");
}
.gallery__next-btn {
  background-image: url("../images/icons/arrow-next.svg");
}
.implementation-block {
  padding: 130px 30px 30px 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
.implementation-block__wrapper {
  position: relative;
  left: 50%;
  width: 410px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.implementation-block__header {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  border-bottom: 10px solid #030303;
  color: #030303;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
}
.implementation-block__current-event {
  position: relative;
  display: inline-block;
  left: 50%;
  margin-bottom: 5px;
  padding: 8px 17px;
  border-radius: 3px;
  background: #ffa900;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.5px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.implementation-block__current-event,
.implementation-block__header {
  text-transform: uppercase;
}
.implementation-block__day {
  margin-top: 30px;
}
.implementation-block__day__title,
.implementation-block__day__date {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}
.implementation-block__day__title {
  color: #030303;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
  white-space: pre-line;
}
.implementation-block__day__date {
  color: #8f8e94;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 15px;
}
.implementation-block__download,
.implementation-block__download:hover {
  position: relative;
  display: inline-block;
  left: 50%;
  -webkit-transform: translate(-50%, -10px);
  -moz-transform: translate(-50%, -10px);
  -o-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  color: #ffa900;
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
}
.trainers-block,
.investors-block {
  padding: 130px 30px 30px 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
.trainers-block__wrapper,
.investors-block__wrapper {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1000px;
}
.trainers-block__header,
.investors-block__header {
  margin-bottom: 13px;
  font-size: 64px;
  line-height: 85px;
  color: #030303;
  text-align: center;
}
.trainers-block__persons,
.investors-block__persons {
  zoom: 1;
}
.trainers-block__persons:before,
.investors-block__persons:before,
.trainers-block__persons:after,
.investors-block__persons:after {
  content: "";
  display: table;
}
.trainers-block__persons:after,
.investors-block__persons:after {
  clear: both;
}
.trainers-block__person,
.investors-block__person {
  position: relative;
  float: left;
  width: 250px;
  height: 266px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.trainers-block__person__bio,
.investors-block__person__bio {
  position: absolute;
  display: none;
  padding: 24px 20px;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #030303;
  font-size: 14px;
  line-height: 21px;
}
.trainers-block__person__bio b,
.investors-block__person__bio b {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Roboco';
}
.trainers-block__person:hover .trainers-block__person__bio,
.investors-block__person:hover .investors-block__person__bio {
  display: block;
}
.partners-block {
  padding: 130px 30px 30px 30px;
  font-family: 'Roboco';
}
.partners-block__wrapper {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 720px;
}
.partners-block__header {
  margin-bottom: 13px;
  font-size: 64px;
  line-height: 85px;
  color: #030303;
  text-align: center;
}
.partners-block__organizers {
  margin-top: 34px;
}
.partners-block__partners {
  margin-top: 40px;
}
.partners-block__organizers,
.partners-block__partners {
  text-align: center;
  zoom: 1;
}
.partners-block__organizers:before,
.partners-block__partners:before,
.partners-block__organizers:after,
.partners-block__partners:after {
  content: "";
  display: table;
}
.partners-block__organizers:after,
.partners-block__partners:after {
  clear: both;
}
.partners-block__organizers-t,
.partners-block__partners-t {
  margin-bottom: 15px;
  color: #030303;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  zoom: 1;
}
.partners-block__organizers-t:before,
.partners-block__partners-t:before,
.partners-block__organizers-t:after,
.partners-block__partners-t:after {
  content: "";
  display: table;
}
.partners-block__organizers-t:after,
.partners-block__partners-t:after {
  clear: both;
}
.partners-block__partner,
.partners-block__organizer {
  display: inline-block;
  height: 130px;
  width: 130px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.partners-block__partner + .partners-block__partner,
.partners-block__organizer + .partners-block__organizer {
  margin-left: 30px;
}
.partners-block__organizer {
  height: 115px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.partners-block__organizer--minrt {
  width: 106px;
  background-image: url("../images/icons/minsport.png");
  -webkit-background-size: 221px 115px;
  -moz-background-size: 221px 115px;
  background-size: 221px 115px;
}
.partners-block__organizer--minrt:hover {
  background-position: -114px;
}
.partners-block__organizer--icyfdc {
  width: 115px;
  background-image: url("../images/icons/icyfdc.png");
  background-position: 0;
}
.partners-block__organizer--icyfdc:hover {
  background-position: -114px;
}
.partners-block__organizer--selet {
  width: 120px;
  background-image: url("../images/icons/selet.png");
  background-position: 0;
}
.partners-block__organizer--selet:hover {
  background-position: -120px;
}
.partners-block__organizer--summit {
  width: 127px;
  background-image: url("../images/icons/summit.png");
  background-position: 0;
}
.partners-block__organizer--summit:hover {
  background-position: -127px;
}
.partners-block__partner {
  height: 85px;
}
.partners-block__partner--itpark {
  width: 57px;
  background-image: url("../images/icons/itpark.png");
  background-position: 0;
}
.partners-block__partner--itpark:hover {
  background-position: -57px;
}
.partners-block__partner--oxademy {
  width: 280px;
  background-image: url("../images/icons/oxademy.png");
  background-position: 0;
}
.partners-block__partner--oxademy:hover {
  background-position: -279px;
}
.contactus-block {
  padding: 130px 30px 30px 30px;
}
.contactus-block__header {
  color: #030303;
  font-size: 64px;
  line-height: 86px;
  font-family: 'Roboco';
  font-weight: bold;
  text-align: center;
}
.contactus-block__row {
  position: relative;
  margin-top: 40px;
}
.contactus-block__col {
  width: 272px;
}
.contactus-block__col--contacts {
  float: left;
  margin-right: 50px;
}
.contactus-block__col--contacts b,
.contactus-block__col--contacts a {
  display: block;
  color: #030303;
  font-size: 14px;
  line-height: 15px;
}
.contactus-block__col--contacts b {
  margin-bottom: 10px;
}
.contactus-block__col--contacts a {
  margin-bottom: 20px;
  padding-left: 30px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
}
.contactus-block__col--social {
  float: right;
  margin-left: 50px;
}
.contactus-block__col--social a {
  display: inline-block;
  margin-right: 5px;
}
.contactus-block__col--form {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 496px;
}
.contactus-block__col--form input,
.contactus-block__col--form textarea,
.contactus-block__col--form button {
  display: inline-block;
  margin-bottom: 20px;
  width: 496px;
  background: #f5f5f5;
  color: #030303;
  border: 0;
  outline: 0;
  font-family: 'Roboco';
  font-weight: bold;
  height: 60px;
  font-size: 14px;
}
.contactus-block__col--form input::-webkit-input-placeholder,
.contactus-block__col--form textarea::-webkit-input-placeholder,
.contactus-block__col--form button::-webkit-input-placeholder {
  color: #8f8e94;
  font-family: 'Roboco';
  font-weight: bold;
  text-transform: uppercase;
}
.contactus-block__col--form input:-moz-placeholder,
.contactus-block__col--form textarea:-moz-placeholder,
.contactus-block__col--form button:-moz-placeholder {
  color: #8f8e94;
  font-family: 'Roboco';
  font-weight: bold;
  text-transform: uppercase;
}
.contactus-block__col--form input::-moz-placeholder,
.contactus-block__col--form textarea::-moz-placeholder,
.contactus-block__col--form button::-moz-placeholder {
  color: #8f8e94;
  font-family: 'Roboco';
  font-weight: bold;
  text-transform: uppercase;
}
.contactus-block__col--form input:-ms-input-placeholder,
.contactus-block__col--form textarea:-ms-input-placeholder,
.contactus-block__col--form button:-ms-input-placeholder {
  color: #8f8e94;
  font-family: 'Roboco';
  font-weight: bold;
  text-transform: uppercase;
}
.contactus-block__col--form input {
  padding: 22px 15px;
  line-height: 15px;
}
.contactus-block__col--form textarea {
  margin-bottom: 30px;
  padding: 24px 15px;
  height: 213px;
  line-height: 15px;
}
.contactus-block__col--form button {
  height: 60px;
  background: #ffa900;
  color: #cd8800;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 3px;
}
