@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica-Bold.otf") format('opentype'), url("../fonts/Helvetica-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/HelveticaBold.ttf") format('truetype');
}
header {
  text-align: left;
}
.top-navigation {
  padding: 28px 30px;
  height: 80px;
  background: transparent;
  -webkit-box-shadow: 0 2px 4px 0;
  box-shadow: 0 2px 4px 0;
}
.top-navigation--main .menu-open__hamburger__bar {
  background: #fff;
}
.top-navigation--main .menu-open__label {
  color: #fff;
}
.menu-open {
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.menu-open:before,
.menu-open:after {
  content: "";
  display: table;
}
.menu-open:after {
  clear: both;
}
.menu-open__hamburger {
  float: left;
  width: 30px;
}
.menu-open__hamburger__bar {
  display: block;
  margin-bottom: 4px;
  height: 5px;
  background: #030303;
}
.menu-open__label {
  float: left;
  margin-left: 10px;
  color: #030303;
  font-size: 18px;
  font-family: "Helvetica Bold";
  letter-spacing: 1px;
  text-transform: uppercase;
}
.lng-switch {
  float: right;
}
.header-block {
  padding: 154px 0 40px 110px;
  min-height: 100%;
  background-image: url("/assets/images/cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #030303;
}
.header-block__header {
  position: relative;
  color: #fff;
  font-size: 64px;
  line-height: 86px;
  font-family: "Helvetica Bold";
}
.header-block__event__date,
.header-block__event__location {
  color: #fff;
  font-family: "Helvetica Bold";
  font-size: 18px;
  line-height: 25px;
}
.header-block__event__location {
  margin-top: 2px;
}
.header-block__button {
  margin-top: 35px;
}
.button {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 3px;
  background: #ffa900;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-family: "Helvetica Bold";
}
.button--join {
  padding-left: 43px;
  padding-right: 43px;
}
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  z-index: 1050;
}
.overlay-menu__closebtn {
  position: relative;
  left: 50%;
  margin-top: 40px;
  width: 50px;
  height: 50px;
  background: rgba(3,3,3,0.9);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.overlay-menu__content {
  position: relative;
  left: 50%;
  margin-top: 10px;
  width: 150px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.overlay-menu__content__link {
  display: block;
  margin-top: 30px;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  font-family: "Helvetica Bold";
}
.overlay-menu__content__link:hover {
  color: #ffa900;
  text-decoration: none;
}
